body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header{
    height: 55vh;
    background-image: url(images/donation-15.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 9%;
}
.button{
    background-color: #DE746E;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}

#donate-section{margin: 9%;}
#donate-section-div1{ 
    margin-top: 80px;
    text-align: center;
}
#donate-section-div2{
    display: flex;
    justify-content: center;    
}
.donate-section-div2-child-div{
    background-color: #f0ebeb;
    margin: 5px;
    padding: 20px 20px;
    border-radius: 5px;
}
#donate-section-div2-child-div{
    background-color: #f4e3e2;
    border: 2px solid #DE746E;
    color: #DE746E;
}
#donate-section-div3{
    text-align: center;
    margin: 30px;
    padding: 10px;
    border-bottom: 2px solid rgb(239, 235, 235);
}
#donate-section-div4{
    text-align: center;
    margin-bottom: 20px;
}

#donate-plan-section-div1{
    margin-top: 80px;
    text-align: center;
}
#donate-plan-section-div2{
    display: flex;
    margin:1% 10%;
}
.donate-plan-section-div2-child-div img{width: 20%;}
#donate-plan-section-div2-child-div1{
    background-color: #f5f0eb;
    margin: 20px;
    padding: 10px;
}
#donate-plan-section-div2-child-div2{
    background-color: #f2eefa;
    margin: 20px;
    padding: 10px;
}
#donate-plan-section-div2-child-div3{
    background-color: #f7e7e7;
    margin: 20px;
    padding: 10px;
}

#food-donation-section{
    display: flex;
    margin: 9%;
}
#food-donation-campaign-div1{padding-top: 5%;}
#food-donation-campaign-div2 img{
    width: 85vh;
}

#transportation-campaign-section{
    display: flex;
    margin: 9%;
}
#transportation-campaign-div1 img{
    width: 85vh;    
}
#transportation-campaign-div2{padding: 5%;}

#update-section-div1{
    text-align: center;
}
#update-section-div2{
    display: flex;
    background-color: #FFF4D6;
    margin: 5% 20% 5% 20%;
    padding: 4% 7% 4% 20%;
}
#update-section-div2 input{
    border: none;
    background-color: #D9D9D9;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#subscribe{ 
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

footer{
    background-color: black;
    text-align: center;
    margin: 7% 0 0 0;
    padding: 5%;
}
footer h1{color: orange;}
footer p{color: white;}

